 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     list-style: none;
     font-family: "Microsoft YaiHei", "Helvetica Neue", Helvetica, STHeiti, Arial, sans-serif;
 }

 html {
     height: 100%;
 }

 body {
     min-height: 100%;
     min-width: 1000px;
     display: flex;
     display: -webkit-flex;
     flex-direction: column;
     background-color: #f2f2f2;
 }

 .content {
     flex: 1;
     -webkit-flex: 1;
 }

 .bbg-1 {
     position: relative;
     height: 447px;
     background: url(images/bg1.png) center top no-repeat;
 }

 .bbg-2 {
     position: relative;
     background: url(images/bg2.png) center 447px no-repeat;
 }

 .wrapper {
     margin: 0 auto;
     text-align: left;
     width: 1000px;
 }

 .bg-1 {
     background: url(images/bg3.jpg);
     height: 447px;
 }

 .bg-2 {
     background: url(images/bg4.jpg);
     height: 673px;
 }

 .mainer {
     position: relative;
     color: #262626;
     font-size: 12px;
     margin-top: -441px;
 }

 .clearfix:before,
 .clearfix:after {
     clear: both;
     display: table;
     content: " ";
 }

 .clearfix {
     *zoom: 1;
 }

 .part1 {
     background: url(images/detail.png) repeat-y 0 13px;
     position: relative;
     float: left;
     width: 250px;
     margin-right: 10px;
     top: -100px;
 }

 .part1-content {
     background: url(images/detail1.png) no-repeat;
     padding: 65px 30px 0;
     width: 250px;
     color: #B7B7B7;
     font-size: 12px;
 }

 .part1-content-pic {
     width: 193px;
     height: 100px;
     display: block;
 }

 .part1-content-pic img {
     width: 192px;
     height: 88px;
 }

 .part1-content p {
     line-height: 24px;
    padding-left: 4px;
     padding-bottom: 6px;
     border-bottom: 1px solid #B7B7B7;
 }

 .part1-content p span {
     color: #FE9631;
 }

 .part1-content-share {
     padding-top: 10px;
 }

 .part1-content-share span {
     position: relative;
     font-size: 16px;
     bottom: 6px;
     margin-right: 10px;
 }

 .part1-fd {
     background: url(images/detail4.png) no-repeat;
     height: 20px;
     padding: 0 10px;
 }

 .part1-content-enter {
     padding-top: 10px;
     padding-left: 26px;
 }

 .part2 {
     background: url(images/part2-pic1.jpg) no-repeat 0 13px;
     position: relative;
     float: left;
     width: 490px;
     height: 280px;
     margin-right: 10px;
     top: -100px;
 }

 #the-container {
     width: 460px;
     height: 234px;
     position: relative;
     left: 16px;
     top: 24px;
     overflow: hidden;
     position: relative;
 }

 #the-list {
     width: 2760px;
     height: 234px;
     position: absolute;
     z-index: 1;
 }

 #the-list img {
     width: 460px;
     height: 234px;
     float: left;
 }

 #buttons {
     position: absolute;
     height: 10px;
     width: 100px;
     z-index: 2;
     bottom: 20px;
     left: 370px;
 }

 #buttons span {
     cursor: pointer;
     float: left;
     width: 10px;
     height: 10px;
     border-radius: 50%;
     background: #fff;
     margin-right: 5px;
 }

 #buttons .on {
     background: orangered;
 }

 #the-container:hover .the-arrow {
     display: block;
 }

 #the-prev {
     left: 20px;
 }

 #the-next {
     right: 20px;
 }

 .part3 {
     width: 240px;
     height: 280px;
     position: relative;
     float: left;
     top: -85px;
 }

 .part3 img {
     padding-left: 2px;
 }

 .part4 {
     width: 490px;
     height: 240px;
     position: relative;
     float: left;
     margin-right: 10px;
     top: -100px;
 }

 .part-bt {
     height: 42px;
     background: url(images/part-bt.png) repeat-y;
     position: relative;
     line-height: 42px;
 }

 .part-bt-img {
     float: left;
 }

 .part-bt h3,
 .part-bt li {
     color: #fff;
     font-size: 18px;
     line-height: 42px;
     float: left;
     padding-left: 10px;
 }

 .part-bt-eng {
     color: #93B4C2;
     font-size: 12px;
     line-height: 42px;
     padding-left: 10px;
 }

 .part-bt-more {
     float: right;
     font-size: 16px;
     color: #93B4C2;
     text-decoration: none;
     padding-right: 10px;
 }

 .part-content {
     background-color: #2B3742;
     padding: 8px 10px 12px 20px;
 }

 .part-content li {
     height: 30px;
     border-bottom: 1px dashed #B7B7B7;
     font-size: 10px;
     line-height: 30px;
     color: #B7B7B7;
 }

 .part-content a {
     background: url(images/part-three.png) no-repeat 0 12px;
     text-decoration: none;
     color: #B7B7B7;
     height: 30px;
     display: block;
     padding-left: 15px;
 }

 .part-content li :hover {
     color: #66C9FF;
     text-decoration: underline;
     background-color: #394E5E;
 }

 .part-content li span {
     float: right;
 }

 #part-content-care {
     color: #FF7800;
 }

 .part5 {
     width: 240px;
     position: relative;
     float: left;
     top: -100px;
 }

 .part5>ul li {
     list-style-type: none;
     display: inline-block;
     color: #93B4C2;
 }

 #getLi :first-child {
     color: #fff;
     border-bottom: 2px solid #E99149;
 }

 .part6 {
     width: 250px;
     height: 260px;
     position: relative;
     float: left;
     margin-right: 10px;
     top: -90px;
 }

 .part6-content {
     width: 250px;
     height: 216px;
     position: relative;
     background-color: #2B3742;
     text-align: center;
 }

 .part6-content-photo {
     width: 184px;
     height: 130px;
     overflow: hidden;
     position: relative;
     margin-left: 33px;
     padding-top: 18px;
 }

 #list {
     width: 1288px;
     height: 130px;
     position: absolute;
     z-index: 1;
 }

 #list img {
     width: 184px;
     height: 130px;
     float: left;
 }

 .arrow {
     cursor: pointer;
     width: 18px;
     height: 30px;
     position: absolute;
     z-index: 2;
     top: 55px;
 }

 .part6-content-photo :hover .arrow {
     display: block;
 }

 #prev {
     left: 10px;
 }

 #next {
     right: 10px;
 }

 .part6-content-upload {
     display: block;
     padding-top: 18px;
 }

 .part7 {
     width: 740px;
     position: relative;
     float: left;
     top: -90px;
 }

 .part7-content {
     background-color: #2B3742;
     height: 216px;
 }

 .part7-content-left {
     width: 460px;
 }

 .part7-content-left-row {
     height: 72px;
     background: url(images/part7-pic3.png) no-repeat 0 14px;
     margin-left: 20px;
 }

 .part7-content-left-row2 {
     border-top: 1px dashed #B7B7B7;
     border-bottom: 1px dashed #B7B7B7;
 }

 .part7-content-left-row span {
     position: absolute;
     font-size: 18px;
     color: #66C9FF;
     line-height: 70px;
     margin-left: 20px;
 }

 .part7-content-left-row ul {
     margin-left: 120px;
     padding-top: 14px;
 }

 .part7-content-left-row ul li {
     float: left;
 }

 .part7-content-left-row ul li a {
     width: 64px;
     display: block;
     line-height: 22px;
     font-size: 14px;
     color: #B7B7B7;
     text-decoration: none;
 }

 .part7-content-left-row li :hover {
     color: #66C9FF;
     text-decoration: underline;
 }

 .part7-content-right {
     width: 240px;
     float: right;
     padding-top: 18px;
     margin-right: 20px;
 }

 .part7-content-right>a>img {
     margin: 10px auto;
 }

 .part8 {
     width: 250px;
     height: 260px;
     position: relative;
     float: left;
     margin-right: 10px;
     top: -80px;
 }

 .part8-content {
     width: 250px;
     height: 180px;
     position: relative;
     background-color: #2B3742;
     text-align: left;
     padding-top: 18px;
     padding-left: 30px;
 }

 .btn {
     display: inline-block;
     width: 90px;
     height: 30px;
     font-size: 14px;
     line-height: 30px;
     color: #fff;
     border-radius: 2px;
     margin-right: 10px;
     text-align: center;
     text-decoration: none;
 }

 .part8-content-inline {
     background-color: #FE6E20;
 }

 .part8-content-pay {
     background-color: #C88003;
 }

 .part8-content p {
     color: #B7B7B7;
     font-size: 12px;
     padding-top: 12px;
 }

 .part8-content p select {
     background-color: #394E5E;
     color: #66C6E8;
 }

 .part9 {
     width: 740px;
     height: 450px;
     position: relative;
     float: left;
     top: -80px;
     background-color: #2B3742;
 }

 .part9-content {
     padding-left: 20px;
     padding-top: 18px;
 }

 .part9-content-tilte {
     width: 320px;
 }

 .part9-content-author {
     width: 120px;
 }

 .part9-content-time {
     width: 180px;
 }

 .part9-content-talk {
     width: 86px;
     height: 26px;
     background-color: #C88003;
     float: right;
     position: relative;
     top: 8px;
     right: 10px;
     font-size: 14px;
 }

 .part9-content thead tr {
     height: 30px;
 }

 .part9-content thead tr th {
     color: #66C9FF;
     font-size: 18px;
     border-bottom: 1px dashed #B7B7B7;
     padding-bottom: 10px;
 }

 .part9-content tbody tr {
     height: 30px;
     font-size: 10px;
     line-height: 30px;
 }

 .part9-content tbody tr td {
     border-bottom: 1px dashed #B7B7B7;
     color: #B7B7B7;
     overflow: hidden;
 }

 .part9-content tbody tr td a {
     text-decoration: none;
     color: #B7B7B7;
 }

 .part9-content tbody tr :hover {
     color: #66C9FF;
 }

 .part9-content table {
     border-spacing: 0px
 }

 .footer {
     height: 140px;
     width: 100%;
     background-color: #424242;
     text-align: center;
     font-size: 12px;
     line-height: 28px;
     color: #B7B7B7;
     padding-top: 20px;
 }

 .footer a {
     text-decoration: none;
     color: #B7B7B7;
 }